<div class="container">
    <div class="seguir-redes">
      <h2 class="titulo">Siga nossas redes sociais</h2>
      <div class="redes">
        <div class="instagram info">
          <img src="../../assets/emojis/instagram.svg" alt="">
          <a href="https://www.instagram.com/cataventocj/?hl=pt" target="_blank" rel="noopener noreferrer">
            Instagram
          </a>
        </div>
        <div class="facebook info">
          <img src="../../assets//emojis/facebook.svg" alt="">
          <a href="https://www.facebook.com/cataventocj/?locale=pt_BR" target="_blank" rel="noopener noreferrer">
            Facebook
          </a>
        </div>
        <div class="whatsapp info">
          <img src="../../assets/emojis/whatsapp.svg" alt="">
          <a href="https://wa.me/5585984819741" target="_blank" rel="noopener noreferrer">
            Whatsapp
          </a>
        </div>
      </div>
    </div>
    <div class="fale-conosco">
      <h2 class="titulo">Fale conosco</h2>
      <div class="formulario info">
        <img src="../../assets/emojis/file-text.svg" alt="">
        <span>(85) 98481-9741</span>
      </div>
      <div class="mail info">
        <img src="../../assets/emojis/mail.svg" alt="">
        <span>comercial.cataventocj&#64;gmail.com</span>
      </div>
      <div class="locale info">
        <img src="../../assets/emojis/map-pin.svg" alt="">
        <a href="https://maps.app.goo.gl/eJrvzXA6iZkDqBic8" target="_blank" rel="noopener noreferrer">Av. Parque Central, 1350 - Bloco 1 - Distrito Industrial I, CEP 61939-140, Maracanaú - CE</a>
      </div>
    </div>
</div>