<div class="container-header">
  <header>
    <div class="container-logo">
      <img src="../../assets/catavento_logo.png" alt="" class="logo">
      <div class="container-nome">
        <span class="titulo">catavento</span>
        <span class="texto">CONSULTORIA JR.</span>
      </div>
    </div>
    <div class="menu">
      <!-- <button (click)="scrollToElement('home')">Home</button> -->
      <button (click)="scrollToElement('sobre')">Sobre nós</button>
      <button (click)="scrollToElement('servicos')">Serviços</button>
      <button (click)="scrollToElement('footer')">Fale conosco</button>
    </div>
  </header>
</div>
<app-home id="home"></app-home>
<app-sobre-nos id="sobre"></app-sobre-nos>
<app-servicos id="servicos"></app-servicos>
<app-footer id="footer"></app-footer>