<div class="container">

  <div class="superior">
    <div class="left">
      <h1><strong class="strong-green">SOBRE</strong> NÓS</h1>
      <div class="right tablet"></div>
      <p>A Catavento Consultoria Jr. é uma Empresa Júnior
        formada por alunos do curso de <strong class="strong-green"> Engenharia Ambiental e Sanitária.</strong> Vinculada ao Instituto Federal do Ceará e com 7 anos transformando o mundo! Somos sua parceira estratégica para transformar desafios ambientais em oportunidades de crescimento.</p>
    </div>
    <div class="right not-tablet"></div>
  </div>
  <div class="inferior">
    <h1 class="titulo">
      SOLUÇÕES <strong class="strong-green">AMBIENTAIS</strong> SOB MEDIDA PARA O SEU NEGÓCIO!
    </h1>
    <p class="paragrafo">
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Com soluções inovadoras e personalizadas, ajudamos
      empresas a otimizar seus processos, reduzir custos e
      aumentar sua competitividade, sempre em
      conformidade com as <strong class="strong-green">normas ambientais.</strong>
      Nossa equipe multidisciplinar oferece um
      acompanhamento completo, desde o diagnóstico inicial
      até a implementação de medidas mitigadoras,
      <strong class="strong-green">garantindo resultados concretos e duradouros.</strong>
    </p>
  </div>
</div>